.display-none{
    display: none;
}

header {
    background: url("../images/background.jpg") no-repeat;
    height: 500px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    &>div.header__navbar {
        width: 100%;
        position: relative;

        & .header__navbar__burger {
            display: flex;
            justify-content: flex-end;
            filter: invert(1);

            & img {
                margin-right: 20px;
                // border: 1px solid gray;
                width: 50px;
            }
        }

        & nav.header__navbar__navigate {
            background-color: rgba(255, 255, 255, 1);
            width: 100%;
            position:absolute;


            &>ul {
                list-style: none;
                // padding:0;

                &>li {
                    height: 30px;


                    & a {
                        text-decoration: none;
                        // font-weight: 800;
                        color: gray;
                    }

                    // a:hover {
                    //     color: rgb(100, 23, 23);
                    // }

                    // a:active {
                    //     color: yellow;
                    // }

                    // a:link {
                    //     color: gray;
                    // }

                    // a:visited {
                    //     color: white;
                    // }


                }
            }

        }
    }

    &>div {
        color: white;

        &>h1 {
            margin-bottom: 0;
            text-align: center;
        }

        &>p {
            text-align: center;
        }
    }

    &>form {
        width: 95%;

        &>.form-container {
            background-color: rgba(255, 255, 255, 0.5);
            padding: 5px;
        }

        & a {
            background-color: rgba(75, 223, 75, 0.5);
            text-align: center;
            text-decoration: none;
            display: block;
            color: white;
            width: 100%;
            padding: 10px 0;
        }

    }
}

.form-select {
    border: 1px solid rgb(216, 216, 216);
    background-color: white;
    width: 100%;
    padding: 5px 10px;
    border-radius: 5px;
    margin-bottom: 5px;
}

.input-group {
    display: flex;
    margin-bottom: 5px;

    & input {
        border: none;
        width: 100%;
        padding: 5px 10px;
        border-radius: 5px 0 0 5px;
    }

    & span {
        background-color: rgb(214, 214, 214);
        padding: 5px 12px;
        border-radius: 0 5px 5px 0;

        & img {
            height: 15px;
            width: 15px;
        }
    }
}


main {
    &>section:nth-child(1) {
        margin-bottom: 0;
        justify-content: space-between;
    }

    &>section {
        margin-bottom: 50px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;


        & .form-select {
            font-size: 0.7em;
        }

        & h4 {
            margin-left: 10px;
        }

        & .carousel {

            display: flex;
            justify-content: flex-start;
            align-items: center;

            & a:nth-child(1){
                text-align: right;
            }

            &>img {
                width: 80%;
            }

            & a>img.carousel-btn {
                width: 30%;
            }
        }

        & .information {
            display: flex;

            & .description {
                display: none;

                & p {
                    font-size: 0.8em;
                }
            }

            & form {
                display: flex;
                flex-wrap: wrap;
                padding: 10px;
                justify-content: flex-end;
                align-items: flex-start;


                & a {
                    background-color: rgba(31, 110, 31, 0.8);
                    text-align: center;
                    text-decoration: none;
                    color: white;
                    border-radius: 5px;
                    padding: 5px 7px;
                    font-size: 0.8em;
                    width: 100px;
                }
            }
        }
    }
}

@media only screen and (min-width: 576px) {}

/* Medium devices (tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    header {
        &>form {

            display: flex;
            justify-content: space-around;

            &>div.form-container {
                display: flex;
                width: 100%;
                justify-content: space-around;
            }

            &>a {
                max-width: 200px;
            }
        }
    }

    .form-select {
        margin-bottom: 0;
        margin-right: 5px;
        width: auto;
    }

    .input-group {
        margin-bottom: 0;
        margin-right: 5px;

        & input {
            width: auto;
        }
    }

    main {
        &>section {
            & .information {
                flex-direction: column;
                align-items: flex-start;

                & .description {
                    display: block;
                }
            }
        }
    }
}

/* Large devices (desktops, 992px and up) */
@media only screen and (min-width: 992px) {}