.display-none {
  display: none;
}

header {
  background: url("../images/background.jpg") no-repeat;
  height: 500px;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
header > div.header__navbar {
  width: 100%;
  position: relative;
}
header > div.header__navbar .header__navbar__burger {
  display: flex;
  justify-content: flex-end;
  filter: invert(1);
}
header > div.header__navbar .header__navbar__burger img {
  margin-right: 20px;
  width: 50px;
}
header > div.header__navbar nav.header__navbar__navigate {
  background-color: rgb(255, 255, 255);
  width: 100%;
  position: absolute;
}
header > div.header__navbar nav.header__navbar__navigate > ul {
  list-style: none;
}
header > div.header__navbar nav.header__navbar__navigate > ul > li {
  height: 30px;
}
header > div.header__navbar nav.header__navbar__navigate > ul > li a {
  text-decoration: none;
  color: gray;
}
header > div {
  color: white;
}
header > div > h1 {
  margin-bottom: 0;
  text-align: center;
}
header > div > p {
  text-align: center;
}
header > form {
  width: 95%;
}
header > form > .form-container {
  background-color: rgba(255, 255, 255, 0.5);
  padding: 5px;
}
header > form a {
  background-color: rgba(75, 223, 75, 0.5);
  text-align: center;
  text-decoration: none;
  display: block;
  color: white;
  width: 100%;
  padding: 10px 0;
}

.form-select {
  border: 1px solid rgb(216, 216, 216);
  background-color: white;
  width: 100%;
  padding: 5px 10px;
  border-radius: 5px;
  margin-bottom: 5px;
}

.input-group {
  display: flex;
  margin-bottom: 5px;
}
.input-group input {
  border: none;
  width: 100%;
  padding: 5px 10px;
  border-radius: 5px 0 0 5px;
}
.input-group span {
  background-color: rgb(214, 214, 214);
  padding: 5px 12px;
  border-radius: 0 5px 5px 0;
}
.input-group span img {
  height: 15px;
  width: 15px;
}

main > section:nth-child(1) {
  margin-bottom: 0;
  justify-content: space-between;
}
main > section {
  margin-bottom: 50px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
main > section .form-select {
  font-size: 0.7em;
}
main > section h4 {
  margin-left: 10px;
}
main > section .carousel {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
main > section .carousel a:nth-child(1) {
  text-align: right;
}
main > section .carousel > img {
  width: 80%;
}
main > section .carousel a > img.carousel-btn {
  width: 30%;
}
main > section .information {
  display: flex;
}
main > section .information .description {
  display: none;
}
main > section .information .description p {
  font-size: 0.8em;
}
main > section .information form {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  justify-content: flex-end;
  align-items: flex-start;
}
main > section .information form a {
  background-color: rgba(31, 110, 31, 0.8);
  text-align: center;
  text-decoration: none;
  color: white;
  border-radius: 5px;
  padding: 5px 7px;
  font-size: 0.8em;
  width: 100px;
}

/* Medium devices (tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  header > form {
    display: flex;
    justify-content: space-around;
  }
  header > form > div.form-container {
    display: flex;
    width: 100%;
    justify-content: space-around;
  }
  header > form > a {
    max-width: 200px;
  }
  .form-select {
    margin-bottom: 0;
    margin-right: 5px;
    width: auto;
  }
  .input-group {
    margin-bottom: 0;
    margin-right: 5px;
  }
  .input-group input {
    width: auto;
  }
  main > section .information {
    flex-direction: column;
    align-items: flex-start;
  }
  main > section .information .description {
    display: block;
  }
}
/* Large devices (desktops, 992px and up) */

/*# sourceMappingURL=style.css.map */
